@import url('https://fonts.googleapis.com/css2?family=Abel&display=swap');

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.hashtag-section {
  font-family: Abel;
  font-style: normal;
  font-weight: normal;
  font-size: 36px;
  line-height: 46px;
  text-align: left;
}

.hashtag-section .hashtag-box {
  border-style: solid;
  border-radius: 20px;
  position: relative;
  width: 1000px;
}

.hashtag-id {
  display: block;
  font-weight: bold;
  font-size: 50px;
  top: 50%;
  display: block;
} 

.hashtag-frequency {
  display: block;
}

.idAndFrequency {
  display: inline-block;
}

.hashtag-sentiment {
  display: inline-block;
  /* position: absolute; */
  /* right: 10px;
  top: 50%; */
  float: right;
}

.hashtag-tweetlist li{
  font-family: Abel;
  font-style: normal;
  font-weight: normal;
  font-size: 36px;
  line-height: 46px;
  text-align: left;
}

.hashtag-tweetlist.hidden {
  display: none;
}
